<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
        <!-- httpPlatformモジュールを追加 -->
        <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform 
          processPath="C:\Program Files\Python311\python.exe" // python.exeのパス
          arguments="-m flask run --port %HTTP_PLATFORM_PORT%"// flaskの実行コマンド
          stdoutLogEnabled="true"                             // ログ出力を有効にする
          stdoutLogFile=""                                    // ログファイルのパス
          startupTimeLimit="60" processesPerApplication="16"  //  タイムアウト時間
          >
      <environmentVariables>
        <environmentVariable name="FLASK_APP" value="C:app.py" /> // flaskの実行ファイル
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>